---
import Layout from '../layouts/layout.astro'
import Skills from '@components/skills.astro';
---
<html lang="fr">
<Layout>
  <h1 data-value="Curier.dev">Curier.dev</h1>
  <Skills />
</Layout>
</html>