---
import projects from '/assets/projects.svg'
import contact from '/assets/contact.svg'
---
<nav>
    <a href="/" class="animate navtitle">curier.dev</a>
    <a href="/projects" class="animate push"><img src={projects} alt="Projets"/></a>
    <a href="/contact" class="animate"><img src={contact} alt="Contact"/></a>
</nav>